<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./A.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <div>
        <div class="header">
          <img class="header-img" src="../assets/store.png" />
          <h2 class="header-title" @click="$router.push({path: '/'}, () => {})">RESE</h2>
          <div class="right flex menu">
            <select v-model="searchData_prefecture">
              <option value="">All Prefecutes</option>
              <option v-for="prefecture in prefectures" :key="prefecture.name">{{prefecture.name}}</option>
            </select>
            <select v-model="searchData_genre">
              <option value="">All Genre</option>
              <option v-for="genre in genres" :key="genre.name">{{genre.name}}</option>
            </select>
            <input type="text" placeholder="Restaurant Name" v-model="searchData_restaurant">
          </div>
          <div @click="hamburgerOpen" class="hamburger" :class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="mypage">
            <button class="button" type="submit" @click="$router.push({path: '/mypage'}, () => {})">マイページ</button>
          </div>
        </div>
        <div class="restaurant-list contents">
          <div class="item">
            <div class="restaurant-card flex" v-for="restaurant in filterRestaurants" :key="restaurant.id">
              <img :src=restaurant.image_url class="restaurant-pic">
              <div class="restaurant-detail">
                <div class="restaurant-name">
                  <p>{{restaurant.name}}</p>
                </div>
                <div class="tag">
                  <p>#{{restaurant.prefecture.name}} #{{restaurant.genre.name}}</p>
                </div>
                <div class="button">
                  <button @click="
                      $router.push({
                      path:'/detail/' + restaurant.id,
                      name:'Detail',
                      params:{id:restaurant.id}})" style="color:white">詳しく見る
                  </button>
                  <div>
                    <v-icon name="heart" scale="2" class="heart" @click="favoritePost(restaurant)"
                      v-if="restaurant.favorites.length === 0">
                    </v-icon>
                    <img class="heart" src="../assets/heart_red.png" @click="favoriteDelete(restaurant)"
                      style="height:30px;width:30px;" v-else />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="A.js"></script>
  </div>
</body>
</html>